@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  /* Fonts */
  --nunito: "Nunito", sans-serif;
  --poppins: "Poppins", sans-serif;

  /* Colors */
  --B500: #8d623b;
  --B400: #956a40;
  --B300: #a67648;
  --B200: #eee6de;
  --B100: #fdf7f2;

  /* Neutral Colors */
  --N900: #1a202c;
  --N800: #2d3648;
  --N700: #4a5468;
  --N600: #797a7b;
  --N500: #a0abc0;
  --N400: #cbd2e0;
  --N300: #d2d3d3;
  --N200: #edf0f7;
  --N100: #f6f6f6;

  /* Accent/Status Colors */
  --R500: #c71e1e;
  --R300: #fd6e75;
  --R100: #ffe2e4;

  --Y500: #f4bb00;
  --Y300: #ffe9aa;
  --Y100: #f6eccc;

  --G500: #18721c;
  --G300: #c5f58c;
  --G100: #c5f4c7;

  --Blue500: #101ac0;
  --Blue300: #8bb9ff;
  --Blue100: #dee0fb;

  /* shadcn */
  --radius: 0.625rem;
  --background: var(--white);
  --foreground: var(--N800);
  --card: var(--white);
  --card-foreground: var(--N800);
  --popover: var(--white);
  --popover-foreground: var(--N800);
  --primary: var(--B500);
  --primary-foreground: var(--white);
  --secondary: var(--N200);
  --secondary-foreground: var(--N800);
  --muted: var(--N200);
  --muted-foreground: var(--N600);
  --accent: var(--N200);
  --accent-foreground: var(--N900);
  --destructive: var(--R500);
  --border: var(--N300);
  --input: var(--N300);
  --ring: var(--B400);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme {
  --color-primary-b500: var(--B500);
  --color-primary-b400: var(--B400);
  --color-primary-b300: var(--B300);
  --color-primary-b200: var(--B200);
  --color-primary-b100: var(--B100);

  --color-neutral-n900: var(--N900);
  --color-neutral-n800: var(--N800);
  --color-neutral-n700: var(--N700);
  --color-neutral-n600: var(--N600);
  --color-neutral-n500: var(--N500);
  --color-neutral-n400: var(--N400);
  --color-neutral-n300: var(--N300);
  --color-neutral-n200: var(--N200);
  --color-neutral-n100: var(--N100);
  --color-neutral-white: var(--white);

  --color-accent-r500: var(--R500);
  --color-accent-r300: var(--R300);
  --color-accent-r100: var(--R100);

  --color-accent-y500: var(--Y500);
  --color-accent-y300: var(--Y300);
  --color-accent-y100: var(--Y100);

  --color-accent-g500: var(--G500);
  --color-accent-g300: var(--G300);
  --color-accent-g100: var(--G100);

  --color-accent-blue500: var(--Blue500);
  --color-accent-blue300: var(--Blue300);
  --color-accent-blue100: var(--Blue100);

  /* shadCn */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-nunito: var(--nunito);
  --font-poppins: var(--poppins);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  body {
    background: var(--background);
    color: var(--N900);
    font-family: var(--nunito);
  }
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility t1 {
  @apply text-[64px] font-bold leading-[125%] text-black;
}

@utility t2 {
  @apply text-[24px] font-bold leading-[125%] text-black;
}

@utility h1 {
  @apply text-[48px] font-bold leading-[125%] text-black;
}

@utility h2 {
  @apply text-[40px] font-bold leading-[125%] text-black;
}

@utility h3 {
  @apply text-[32px] font-semibold leading-[125%] text-black;
}

@utility sub-h1 {
  @apply text-[22px] font-bold leading-[125%] text-black;
}

@utility sub-h2 {
  @apply text-[18px] font-bold leading-[125%] text-black;
}

@utility b1-r {
  @apply text-[18px] font-normal leading-[150%];
}
@utility b1-b {
  @apply text-[18px] font-bold leading-[150%];
}
@utility b2-r {
  @apply text-[14px] font-normal leading-[150%];
}
@utility b2-b {
  @apply text-[14px] font-bold leading-[150%];
}
@utility b3-r {
  @apply text-[12px] font-normal leading-[150%];
}
@utility b3-b {
  @apply text-[12px] font-bold leading-[150%];
}

@utility l1-r {
  @apply text-[16px] font-normal leading-[125%];
}
@utility l1-b {
  @apply text-[16px] font-medium leading-[125%];
}
@utility l2-r {
  @apply text-[14px] font-normal leading-[125%];
}
@utility l2-b {
  @apply text-[14px] font-semibold leading-[125%];
}
@utility l3-r {
  @apply text-[12px] font-normal leading-[125%];
}
@utility l3-b {
  @apply text-[12px] font-medium leading-[125%];
}
@utility l4-r {
  @apply text-[10px] font-normal leading-[125%];
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.non-draggable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
